ul,
li {
    list-style-type: none;
    color: #2e2f42;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    /* max-width: 100%; 
    height: auto; */
}
a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
 } 

button {
    font-weight: 500;
    background-color: #4D5AE5;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 48px auto;
    display: block;
    min-width: 169px;   
    height: 56px;       
    border: none;        
 
}

button:focus,
button:hover {
    background-color: #404BBF;
}

 .text-color {
    color: #2e2f42;
 }

 .hop{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    /* padding-top: 188px;
    padding-bottom: 292px; */

    
 }

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42; 
    text-align: center;
   
 }

 .hut {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42; 
    text-align: center;
    margin-bottom: 72px;
    /* padding-top: 120px; */
 }

 .hit {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    margin-top: 32px;
    margin-left: 16px;
    margin-bottom: 8px;
    margin-bottom: 64px;
    margin-bottom: 8px;  
 }

 .page-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
    /* margin-bottom: 32px; */
    /* padding-top: 120px; */
    /* padding-bottom: 120px; */
    /* margin-left: 16px; */
 }

 .text-color-footer {
    color: #f4f4fd;
 }

.page-texte-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #f4f4fd;
}

.page-text-sections {
    background-color: #ffffff;
    /* padding-bottom: 120px;
    padding-top: 120px; */
    padding: 120px 0;
}
 
.onepage-text-section {
    /* padding-top: 188px;
    padding-bottom: 188px; */
    background-color: #2e2f42;

}

footer {
    background: #2e2f42;
}

.page-item {
    background-color: #ffffff;
} 

/* .section {
    padding-top: 120px;
    padding-bottom: 120px;
} */



/* ===================== header =========================================*/
.page-header {
     border-bottom: 1px solid #e7e9fc;
     box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header-container {
    display: flex;
    align-items: center;
 } 

.page-nav {
    display: flex;
    align-items: center;
 }

 .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
    
 .menu {
    display: flex;
    gap: 40px;
}

.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-link {
    color: #2e2f42;
    padding: 24px 0;
    display: block;
 }

 .menu-link:hover,
 .menu-link:focus {
    color: #404bbf;
    
 }

 .address {
    display: flex;
    margin-left: auto;
    
    
 }

  .address-list {
    display: flex;
    gap: 40px;
}

.menu-item-address {
    display: flex;
    margin-right: 0;
    gap: 40px;
    margin-right: 40px;
}

.menu-link-address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: auto;
 }

 /* .menu-link-address:hover,
 .menu-link-address:focus {
    color: #404bbf;
 } */

 .underline {
    position: relative;
 }

.underline::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 4px; /* Задаем высоту линии */
    background-color: #404bbf;
}

/* .underline:active {
    background: #404bbf;
} */

/* ======================= first section "Effective Solutions ========== */

/* .main-page-container {
    padding-top: 188px; 
    padding-bottom: 292px;
    padding-left: 331px;
    padding-right: 331px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/first-section/people-office.jpg);
    background-size: cover;
} */
.onepage-text-section {
    padding: 188px 0;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/first-section/people-office.jpg);
    background-size: cover;
    background-color: #2e2f42;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 120px;
    
  }
/* ========================= second section =========================*/

/* .content-avatar {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align:center;
}

.page-text-section {
    padding: 120px 0;
 }

.description-ul {
    display: flex;
    gap: 24px;
    background-color: #ffffff;
    
    
}

.back-description-li {
    width: calc((100% - 72px) / 4);

} */

/* .main-page-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
} */

/* .description-item-icon {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px; 
    
 }   
    */


  /*==================== second section ============================*/
  .page-text-section {
    padding: 120px 0;
  }
  
  .description-ul {
    display: flex;
    gap: 24px;
    /* align-items: center;
    justify-content: center; */
  }
  
  .back-description-li {
    flex-basis: calc((100% - 72px) / 4);
  }
  
  .description-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .page-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

.hits {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}



/* ========================== third section "Our team" ===========================*/

.content-avatar {
    margin-top: 32px;
    margin-bottom: 32px;
}

.hit-our-team {
    text-align:center;
    margin-bottom: 8px;
    margin-top: 32px;
}

.page-our-team-ul {
    display: flex;
    gap: 24px;
    /* padding-top: 120px;
    padding-bottom: 120px; */
    border-radius: 0px 0px 4px 4px;
}

.page-our-team-li {
    background-color: #FFFFFF; 
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 3);
    border-radius: 0px 0px 4px 4px;
}

.page-text-port {
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 32px;
}

.social-link {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    /* display: flex;
    justify-content: center;
    gap: 24px; */
}

.social-item-logo {
    width: 40px;
    height: 40px;
    background: #4d5ae5;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center; 
}

.logo-icon {
    color: #f4f4fd;
}

/* .social-link-item:hover,
.social-link-item:focus {
    fill: #404bbf;
} */
.social-link-item:hover,
.social-link-item:focus {
    background-color: #404bbf;
}

.page-text-item {
    text-align: center;
    margin-bottom: 8px;
}

.social-link-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    fill: #4d5ae5;
    fill: currentColor;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




/* ========================= forth section "Our portfolio"================= */

.our-portfolio-ul {
    /* display: flex;
    flex-wrap: wrap; 
    column-gap: 24px;
    row-gap: 48px; 
    padding-top: 120px; 
    padding-bottom: 120px; */
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
    

}

.page-our-portfolio {
    /* display: flex;
    flex-direction: column; */
    background-color: #ffffff;
    /* width: calc((100% -72px) / 4); */
    width: calc((100% - 48px) / 3);
    border-radius: 0px 0px 4px 4px;
    /* box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08); */
    position: relative;
    overflow: hidden;
    border: 1px solid #e7e9fc;
}
    


/* .our-portfolio-ul {
    width: calc((100% - 48px) / 3);
} */

.content-avatar-our-portfolio {
    /* margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; */
    /* padding: 32px 16px; */
    /* border: 1px solid #e7e9fc; */
    /* border-top: none;  */
    /* position: relative;
    overflow: hidden; */
}

.main-page-sections-container {
    padding-top: 120px; 
    padding-bottom: 120px;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}

.taxi-overlay {
    /* position: absolute;
    top: 0;
    left: 0;
    background: #4d5ae5;
    overflow: auto;
    width: 100%;
    height: 100%;
    transform: translateY(100%); */
    /* transition: transform 250ms linear; */
    /* width: 100%; 
    height: 100%; 
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%); 
    background: #4d5ae5; */
}

.taxi-overlay-text {
    /* padding: 40px 32px;
    text-align: left; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    overflow: auto; */
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
}

.imgat {
    position: relative;
    overflow: hidden;

}

/* .illussion {
    overflow: hidden;
} */


.page-our-portfolio:hover .taxi-overlay {
    transform: translateY(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .content-avatar-our-portfol {
     position: relative;
    overflow: hidden;
} */

/* .content-avatar-our-portfol:hover .taxi-overlay {
     
    transform: translateY(0%);
} */

/*====================== footer================= */

/* .main-page-container-footer {
    margin-top: 60px;
} */

/* .main-page-container-footer {
    width: 264px;
 padding-top: 100px;
    padding-bottom: 100px; 
    display: inline-block;
} */
    
.page-text-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #2e2f42;
    max-width: 264px;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 120px;
 }


.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-social-catagory {
    display: flex;
    gap: 16px;
}

.footer-social-list-item {
    width: 40px;
    height: 40px;

}

.social-liss-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-liss-link:hover,
.social-liss-link:focus {
    background-color: #31d0aa;;
}

.logo-footer-container {
    margin-right: 120px;
}